<!DOCTYPE html>
<html lang="en">

<head>
  <title>Book Collection</title>
  <link href= "/public/styles/base.css" rel="stylesheet" type="text/css" />
  <link href= "/public/styles/reset.css" rel="stylesheet" type="text/css" />
  <!-- <link href= "/public/assets/styles.css" rel="stylesheet" type="text/css" />
  <link href= "/public/assets/styles.css" rel="stylesheet" type="text/css" />
  <link href= "/public/assets/styles.css" rel="stylesheet" type="text/css" /> -->
</head>

<body>
  <header id= "header">Best Books!</header>
  <main>
    <h4 id = "search">Search by Title or Author</h4>
    <div class = "seachPage">
    <div class = "form">
    <form action="/searches" method="post">
      <input type="text" name="search" placeholder="Enter a title or author" required>
      <fieldset id = "title">
        <label for="title">
          <span>Title</span>
          <input type="radio" name="search" value="title" required>
        </label>
      </fieldset>
      <fieldset id= "author">
        <label for="author">
          <span>Author</span>
          <input type="radio" name="search" value="author" required>
        </label>
      </fieldset>
      <button id= "id" type="submit">Search the Google Books API</button>
    </form>
    </div>
    </div>
  </main>
  <footer id="footer"></footer>
</body>

</html>