<!DOCTYPE html>
<html lang="en">

<head>
  <title>Book Collection</title>
  <link href= "/public/styles/base.css" rel="stylesheet" type="text/css" />
  <link href= "/public/styles/reset.css" rel="stylesheet" type="text/css" />
  <!-- <link href= "/public/assets/styles.css" rel="stylesheet" type="text/css" />
  <link href= "/public/assets/styles.css" rel="stylesheet" type="text/css" />
  <link href= "/public/assets/styles.css" rel="stylesheet" type="text/css" /> -->
</head>
<body>
  <main>
      <% searchResults.forEach(item => { %>
        <p><%= item.title %></p>
        <p><% item.isbn %></p>
        <img src= "<%= item.image %>" />
        <p><%= item.authors %></p>
        <p><%= item.decription %></p>
        <p><% item.bookshelf %></p>
        <% }) %>
  </main>
</body>

</html>